body{
    margin: 0;
    padding: 0;
}

.top{
    display: flex;
    max-height: 656px;
}

.main{
    height: 656px;
    width: 300px;
    overflow-y: scroll;
    background-color: rgb(26, 24, 24);
    
}

.common{
    
    font-size: large;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 250px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;

}

.common:hover{
    cursor: pointer;
    background-color: rgb(41, 41, 41);
}
.data{
    background-color: rgb(49, 49, 49);
    height: 656px;
    width: 1008px;
    color: white;
    text-align: center;
    font-size: larger;
    
}

.table-container {
    margin: 50px auto;
    width: 60%;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(88, 88, 88);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
  }
  
  th {
    background-color: #333;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: rgb(124, 124, 124);
  }
  
  tr:hover {
    background-color: #ddd;
    color: black;
  }